@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8fafc;
    --foreground: #020617;
    --card: #ffffff;
    --card-foreground: #020617;
    --border: #cbd5e1;
    --primary: #4f46e5;
    --primary-foreground: #ffffff;
  }

  .dark {
    --background: #020617;
    --foreground: #f8fafc;
    --card: #0f172a;
    --card-foreground: #f8fafc;
    --border: #1e293b;
    --primary: #6366f1;
    --primary-foreground: #ffffff;
  }
}

body {
  @apply bg-background text-foreground antialiased transition-colors duration-200;
}

/* Custom Webkit Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-border rounded-full hover:bg-slate-500 transition-colors;
}
